<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>История</title>
</head>
<body>
    <h1>Липецк</h1>
    <nav>
        <a class="btn btn-primary" href="/" role="button">Главная</a>
        <a class="btn btn-primary" href="/news/" role="button">Новости города</a>
        <a class="btn btn-primary" href="/management/" role="button">Руководство города</a>
        <a class="btn btn-primary" href="/facts/" role="button">Факты о городе</a>
        <a class="btn btn-primary" href="/contacts/" role="button">Контактные телефоны</a>
        <a class="btn btn-primary" href="/history/" role="button">История города</a>
    </nav>
</body>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <strong>История</strong>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            История земли Липец­кой ярко олицетворяет историю нашего Отечества, это часть России, раски­нутая по берегам притока Дона – реки Воронеж. Наш город формировался на основе великорусского, общинного и православного крестьянства – основы нашего государства во все времена.
            <br><br>Время возникновения поселения на месте современного Липецка спор­но, и дискуссия продолжается до сих пор. Земля наша осваивалась еще с конца XVI в. крестьянами бояр Романовых. Липецк вырос близ села Липские Студёнки Малые, которое возникло в самом начале XVII в. Рядом были рас­положены несколько крестьянских и однодворческих сёл – Большие Студён­ки, Сырское, Дикое, Коровино. Эти селения постепенно вошли в черту Ли­пецка, позднее – и село Сокольское (прежний город Сокольск).
        </div>
        <div class="card">
            <img src="{%  static "6s4dvespjuiizdkhog08g7q67hc1yzqu.jpg" %} " alt="img">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h6>Петровская эпоха</h6>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Cерьезное значение эти края приобретают в петровскую эпоху – в свя­зи со строительством флота и созданием железоделательных Липских (Ли­пецких) заводов. Заводы возникают в 1703 г., как и металлургическая и ору­жейная мануфактуры, построенные в том же году, для снабжения воронеж­ских верфей и кораблей железом и пушками.
            <br><br>Осенью 1703 г. Липецкие заводы стали функционировать и в после­дующем непрерывно расширялись. Позднее они разделились на Верхний и Нижний заводы, каждый со своей плотиной. Заводской поселок «Липские железные заводы» возник вместе с заводом в 1703 г. Наивысшего развития заводы и поселок работных людей при них достигли в начале 1720–х гг. За­тем значение металлургии в Черноземье стало уменьшаться. После передачи заводов в частные руки (1755 г.) производство на них сократилось, а в 1795 г. они были закрыты. Но благодаря заводам возник город Липецк, заложивший традиции металлургии в Черноземном сельскохозяйственном центре России.
            <br><br> В 1779 г. поселок Липских железных заводов был переименован в го­род Липецк и получил статус уездного центра Тамбовского наместничества (с 1796 г. – губернии), каким и оставался до административных преобразова­ний 20–х гг. XX в. 16 августа 1781 г. был утвержден герб Липецка. На момент присвоения городского статуса в Липецке проживало 5971 человек. Образо­вание города из заводского поселка было явлением уникальным для региона.
            <br><br>В 1791 – 1805 гг. сооружается главная духовная святыня города – Христо–Рождественский собор, ставший и архитектурной доминантой города, одним из символов Липецка. Окончательное завершение архитектурного об­лика Собора относится к 1842 г.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <h6>Липецкий курорт</h6>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            В XIX в. несколько явлений отличили судьбу Липецка от многих дру­гих уездных центров. Самым главным, обозначившим своеобразное состоя­ние города, было существование курорта – Липецких минеральных вод. Ку­рорт оказал большое воздействие и на развитие медицинской составляющей России и определил значение Липецка. Первооткрывателем минеральных ис­точников легенды называют Петра Великого, но официальное существование курорта «Липецких минеральных вод» было закреплено в 1805 г. В этом го­ду, 25 апреля по старому стилю, император Александр I наложил резолюцию на доклад министра внутренних дел В.П. Кочубея об устройстве курорта в Липецке – «Быть по сему». Тогда же император утвердил и генеральный план города, в соответствии с которым Липецк и строился.
            <br><br>Вскоре Липецкий курорт стал очень популярен среди провинциально­го, да и столичного дворянства, поскольку наполеоновские войны в Европе с 1805 г. ограничили возможности лечения за границей.
            <br><br>Курорту Липецк обязан и тем, что его в 1837 г. посетил наследник рос­сийского престола Александр (будущий Александр II), вместе с В.А. Жуков­ским, оставившим зарисовки города, Каменного лога и Собора. Наследник выдал на благоустройство курорта 1 тыс. руб.
            <br><br>Еще одно событие, случившееся в городе, до сих пор обращает на себя внимание. Это – июнь 1879 г., съезд в Липецке революционеров, сторонни­ков политической борьбы. 11 молодых людей (в том числе А.И. Желябов) создали Исполнительный Комитет русской социально-революционной пар­тии, ставший ядром возникшей вскоре тайной организации «Народная Воля». Именно эта организация в 1881 г. осуществила убийство императора Алек­сандра II. Участники съезда приняли главное для революционной мысли того времени решение – о необ­ходимости ведения политической борьбы, а среди способов наметили и тер­рор, но он не был ни единственным, ни основным.
            <br><br>Во второй половине XIX в. начинается быстрое экономическое разви­тие нашего города. В городе в конце 60-х – начале 70-х гг. промышленность была представлена 34 полукустарными предприятиями с 344 работниками.
            <br><br> В конце 60-х гг. была построена Орловско-Царицынская железная до­рога, прошедшая в 2-3 верстах от Липецка (1868 г.).
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <h6>ХХ век</h6>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            В 1899 г. закладывается первая домна Сокольского металлургического завода, вскоре оказавшегося в границах города Липецка. 15 мая 1902 г. домна была пущена, в 1913 г. – вторая. Этим восстанавливалось металлургическое производство в Центральном Черноземье – на базе Липецких рудников, в ко­торых добывалась железная руда.
            <br><br>В начале XX в. успешной была деятельность городского головы М.А. Клюева. По его инициативе и при его участии было создано попечительство детских приютов, городская амбулатория для приходящих больных и пр.
            <br><br>В 1918г.в Липецке была создана школа подготовки летного состава. Одной из интересных страниц истории города является функционирование в нем немецкой школы по подготовке военных летчиков (1925–1933 гг.). Также продолжалась и подготовка советских авиаторов. В 1927 г., когда уже дейст­вовала немецкая авиашкола, здесь проходил переподготовку В.П. Чкалов, показавший высочайший уровень летного мастерства, восхитивший и немец­ких летчиков, и руководство ВВС. Выдающимся советским летчиком, одним из первых Героев Советского Союза, покорителем Северного полюса стал липчанин М.В. Водопьянов (1899-1980).
            <br><br>После закрытия немецкой авиашколы в Липецке создана Высшая лётно-тактическая школа Военно–Воздушных сил Красной Армии (1933–1938), а после преобразований функционирует Центр боевого применения и переучи­вания лётного состава. Высокий уровень подготовки летчиков отмечен тем, что в Липецке прошли подготовку несколько космонавтов, а героизм пилотов проявился в подвигах Л.А. Кривенкова и СМ. Шерстобитова, Е.И. Захарова и В.И. Новоселова, которые ценой собственной жизни увели падающие са­молеты (1968, 1987 гг.) от населенных пунктов.
            <br><br>Самое значительное, что создается в Липецке с конца 20-х гг. и вплоть до сего времени, то, что определяет уровень развития и значение нашего го­рода – формирование в городе мощной металлургической базы. Очевидна преемственность в развитии металлургической базы в Липецке от петровских времен.
            <br><br>В конце 20-х гг. ведется планирование, а в начале 30-х гг. начинается строительство и, в дальнейшем, работа крупнейшего металлургического предприятия страны – Новолипецкого металлургического комбината (НЛМЗ –НЛМК).
            <br><br>6 апреля 1930 г. постановлением Президиума ВСНХ СССР, а 25 фев­раля 1931 г. СНК СССР были приняты решения о строительстве Липецкого завода по производству литейного чугуна. Начальником строительства, а за­тем и первым директором завода был назначен Я.А. Берзин. 7 ноября 1934 г. первая липецкая домна дала чугун.
            <br><br>В годы Великой Отечественной войны 1941-1945 гг. липчане героиче­ски сражались на ее фронтах. С поля боя не вернулись семь тысяч липчан. Город наш – родина 6 Героев Советского Союза, героически защищавших страну в годы Великой Отечественной войны. 
            <br><br>В 1943 г. в городе развернулось строительство тракторного завода, который уже 1 июня 1944 г. выпустил первый трактор и стал давать так необходимые стране сельскохозяйственные машины. Дальнейший рост тракторного завода связан с деятельностью его директора, выдающегося организатора производства В.Я. Клименкова (1909-1976).
            <br><br>Мощный толчок развитию города был дан созданием 6 января 1954 г. Липецкой области. Липецк стал развиваться как крупный промышленный и культурный центр. Вы­росла численность населения города. Если в 1939 г. население города состав­ляло 67 тыс. человек, то в 1957 – 157 тыс., а в 1970 – 289 тыс. чел. Был соз­дан ряд значимых промышленных, социальных и культурных объектов. Не­обходимую для страны продукцию производили заводы города – Центролит, Радиаторный, Трубный, Липецкий Тракторный, старейшее металлургиче­ское предприятие города – Сокольский металлургический.
            <br><br>В связи с развитием заводов на левом берегу р. Воронеж и поселков при них был построен и 26 октября 1958 г. открыт первый мост через реку.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <h6>Современный Липецк</h6>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Сегодня Липецк – современный и динамично развивающийся город. По данным переписи 2010 г. его население соста­вило 511 143 жителя.  Он известен в России и за рубежом как крупный производитель стали и проката, белой техники, соков и минеральной воды, как центр подготовки асов отечественной авиации. Здесь сосредоточены предприятия, которые своей успешной работой обеспечивают социальную стабильность всей области: флагман отечественной металлургии Новолипецкий комбинат и старейшая в отрасли металлургическая компания «Свободный сокол», заводы компании «Индезит», выпускающие холодильники и стиральные машины. Создан мощный потенциал строительства и стройиндустрии – действуют заводы по производству цемента, силикатных изделий, железобетонных перекрытий, пластиковых окон. Широко представлена пищевая, перерабатывающая, легкая промышленность, насыщен предприятиями торговли потребительский рынок.
            <br><br>Город имеет разветвленную, отлаженную инфраструктуру. С 2002 года, органами местного самоуправления был взят курс на комплексное благоустройство его территории. В течение пяти лет капитально отремонтированы все основные магистрали, сотни дворов, реконструированы пять парков, построено несколько фонтанов. Два из них – каскадный и цветомузыкальный – не имеют аналогов в Центральном федеральном округе. Ежегодно вводятся в эксплуатацию новые социальные объекты – школы, детские сады, учреждения здравоохранения и культуры.
            <br><br>Численность населения города Липецка на 2023 год по данным Росстата составляет 490 428 человек.
        </div>
        </div>
      </div>
  </div>
</html>